<h1>Hello there!</h1>
<br>
<h2>What's your name?</h2>
<form action='/message' method="post">
  <input type="text" name="birthday_kid">

<h2>When's your birthday?</h2>


  Day:<input type="text" name="day" size="3">

  <br>
  <br>

<label for="month">Month:</label>
<select name="month" id="month">
  <option value="january">January</option>
  <option value="february">February</option>
  <option value="march">March</option>
  <option value="april">April</option>
  <option value="may">May</option>
  <option value="june">June</option>
  <option value="july">July</option>
  <option value="august">August</option>
  <option value="september">September</option>
  <option value="october">October</option>
  <option value="november">November</option>
  <option value="december">December</option>
</select>

<br>
<br>

<input type="submit" value="Submit">

</form>
